<!doctype html>
<html lang="en">

<head>
    <include src="./other/head.html"></include>
    <!-- inject-css ../docs/css/awesome.min.css -->
    <!-- inject-css ../docs/css/bootstrap.min.css -->
    <!-- inject-css ../docs/css/styles.min.css -->
    <!-- inject-css ../docs/css/header.min.css -->
    <!-- inject-css ../docs/css/footer.min.css -->
    <!-- inject-css ../docs/css/about.min.css -->
    <!-- inject-css ../docs/css/skills.min.css -->
</head>

<body id="body" onclick="$('#p1').popover('hide'); $('#p2').popover('hide'); $('#p3').popover('hide'); $('#p4').popover('hide')">
    <include src="./layouts/header.html" activehome="" activeabout="active"></include>
    <div id="about">
        <include src="./components/headerabout.html"></include>
        <include src="./components/skills.html"></include>
        <include src="./components/headerabout.html"></include>
    </div>
    <include src="./layouts/footer.html"></include>
</body>
<include src="./other/scripts_about.html"></include>



</html>