<!doctype html>
<html lang="es">

  <head>
    <include src="./other/head.html"></include>
    <!-- inject-css ../docs/css/awesome.min.css -->
    <!-- inject-css ../docs/css/bootstrap.min.css -->
    <!-- inject-css ../docs/css/jqcloud2.min.css -->
    <!-- inject-css ../docs/css/styles.min.css -->
    <!-- inject-css ../docs/css/header.min.css -->
    <!-- inject-css ../docs/css/footer.min.css -->
    <!-- inject-css ../docs/css/gallery.min.css -->
    <!-- inject-css ../docs/css/skills.min.css -->
    <!-- inject-css ../docs/css/travels.min.css -->
  </head>

  <body id="body" onclick="$('#p1').popover('hide'); $('#p2').popover('hide'); $('#p3').popover('hide'); $('#p4').popover('hide')">
    <include src="./layouts/header.html" activehome="" activeabout="" activegallery="active"></include>

    <div id="gallery">
      <!-- <div class="overlay">
            <div class="overlay-inner">
                <button class="close">× Close</button>
                <img>
            </div>
        </div>

        <section class="gallery-new">
        </section> -->
      <div class="embedsocial-hashtag" data-ref="f807a318d2391d224cdcfc4be0bdb326b90fa1cb"><a class="feed-powered-by-es" href="https://embedsocial.com/products/embedfeed/" target="_blank" title="Powered by EmbedSocial">Powered by EmbedSocial<span>→</span></a></div><script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialHashtagScript"));</script>
    </div>

    <include src="./layouts/footer.html"></include>
  </body>
  <include src="./other/scripts.html"></include>





</html>
