<!doctype html>
<html lang="en">

<head>
    <include src="./other/head.html"></include>
    <!-- inject-css ../docs/css/awesome.min.css -->
    <!-- inject-css ../docs/css/bootstrap.min.css -->
    <!-- inject-css ../docs/css/styles.min.css -->
    <!-- inject-css ../docs/css/header.min.css -->
    <!-- inject-css ../docs/css/footer.min.css -->
    <!-- inject-css ../docs/css/home.min.css -->
    <!-- inject-css ../docs/css/lucky.min.css -->
</head>
<include src="./other/analytics.html"></include>
<!-- Google Analytics Content Experiment code -->
<script async>function utmx_section() { } function utmx() { } (function () {
        var
            k = '161594855-0', d = document, l = d.location, c = d.cookie;
        if (l.search.indexOf('utm_expid=' + k) > 0) return;
        function f(n) {
            if (c) {
                var i = c.indexOf(n + '='); if (i > -1) {
                    var j = c.
                        indexOf(';', i); return escape(c.substring(i + n.length + 1, j < 0 ? c.
                            length : j))
                }
            }
        } var x = f('__utmx'), xx = f('__utmxx'), h = l.hash; d.write(
            '<sc' + 'ript src="' + 'http' + (l.protocol == 'https:' ? 's://ssl' :
                '://www') + '.google-analytics.com/ga_exp.js?' + 'utmxkey=' + k +
            '&utmx=' + (x ? x : '') + '&utmxx=' + (xx ? xx : '') + '&utmxtime=' + new Date().
                valueOf() + (h ? '&utmxhash=' + escape(h.substr(1)) : '') +
            '" type="text/javascript" charset="utf-8"><\/sc' + 'ript>')
    })();
</script>
<script>utmx('url', 'A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

<body id="body" class="no-overflow" onclick="$('#p1').popover('hide'); $('#p2').popover('hide'); $('#p3').popover('hide'); $('#p4').popover('hide')">
    <include src="./layouts/header.html" activehome="active" activeabout=""></include>
    <div id="home">
        <include src="./components/google.html"></include>
        <include src="./components/abouthome.html"></include>
    </div>
    <include src="./layouts/footer.html"></include>
</body>
<include src="./other/scripts.html"></include>
<script>

</script>

</html>