<!doctype html>
<html lang="en" >

<head>
    <include src="./other/head.html"></include>
    <!-- inject-css ../docs/css/awesome.min.css -->
    <!-- inject-css ../docs/css/bootstrap.min.css -->
    <!-- inject-css ../docs/css/styles.min.css -->
    <!-- inject-css ../docs/css/header.min.css -->
    <!-- inject-css ../docs/css/footer.min.css -->
    <!-- inject-css ../docs/css/home.min.css -->
    <!-- inject-css ../docs/css/lucky.min.css -->
</head>
<include src="./other/analytics.html"></include>
<body id="body" class="no-overflow" onclick="$('#p1').popover('hide'); $('#p2').popover('hide'); $('#p3').popover('hide'); $('#p4').popover('hide')">
    <include src="./layouts/header.html" activehome="active" activeabout=""></include>
    <div id="home">
        <include src="./components/google.html"></include>
        <include src="./components/abouthome.html"></include>
    </div>
    <include src="./layouts/footer.html"></include>
</body>
<include src="./other/scripts.html"></include>
<script>

</script>

</html>