<div id="aboutme" class="container">
    <div clas="row">
        <img class="profile" height="200" src="./assets/adan-gonzalez-lopez.png">
    </div>
    <div class="custom-container">
        <h3>Hola! Encantado de tenerte por aquí!</h3>
        <p>Seguramente esto no es lo que esperabas, pero no soy un buscador, he creado este sitio web para que puedas conocerme
            mejor.
        </p>
        <p>Soy un apasionado de las últimas tecnologías y de buscar las soluciones más eficientes a los retos que se me plantean
            en el día a día.
            <b> Actualmente trabajo como profesional independiente
            </b>, donde trato de resolver los problemas de mis clientes con las soluciones más innovadoras. Una solución
            buena no tiene porque ser una solución complicada y así lo transmitimo.</p>
        <p>Desde que finalicé mis estudios de ingeniería informática lo que más me ha motivado día a día ha sido mejorar, no
            parar de crecer y aprender tanto en lo personal como en lo laboral. Creo que voy en la dirección correcta.
            <br>
            <a class="moaw" href="/about.html">¿Quieres saber mas? haz click aquí.</a>
        </p>
        <div>
            <a href="mail:adan.gonzalez.lopez@gmail.com">adangonzalez@moaw.co</a>
        </div>
        <div>
            <a href="mail:adan.gonzalez.lopez@gmail.com">adan.gonzalez.lopez@gmail.com</a>
        </div>
    </div>
</div>