<div class="container-main">
    <div class="relative">
        <h1 title="Adán González López">
            <mark class="blue">A</mark>
            <mark class="red">d</mark>
            <mark class="yellow">a</mark>
            <mark class="blue ">a</mark>
            <mark class="green bottom">á</mark>
            <mark class="red left">n</mark>
        </h1>
        <h3 class="subtitle first-letter">Gonz</h3>
        <h3 class="subtitle">lez</h3>
    </div>
</div>
<div class="container-input">
    <input id="text">
</div>
<div class="container-buttons">
    <input id="buscar"  class="button" type="submit" value="Buscar con Google">
    <input id="suerte"  class="button" type="submit" value="Voy a tener suerte">
</div>