



<section id="punto-fuerte" class="punto-fuerte">
    <div class="text-block">
        <div class="clearfix"></div>

        <h2 class="section-heading ">Desarrollo Web</h2>
        <p class="lead">
            <b class="moaw">Mi punto fuerte.</b> Me apasiona la arquitectura Fron-End, mis juguetes preferidos para llevarla a cabo son
            <a class="moaw" href="https://angular.io/" target="_blank">Angular</a> en cualquiera de sus versiones,
            <a class="moaw" href="https://ionicframework.com/" target="_blank">Ionic</a> para móvil, y HTML5 y CSS3 para pintarlo todo!
        </p>
        <p class="lead">Nunca dejo de aprender de este mundillo y cada vez me gusta más!</p>

    </div>
    <div class="rotation">
        <img alt="laptop" title="Adán González López laptop" src="./assets/web_app2.png">
    </div>
    <div class="code">
        <h2 id="html1"></h2>
        <h2 id="head"></h2>
        <h2 id="bdy"></h2>
        <h2 onclick="goNext()" id="content"></h2>
        <h2 id="ebdy"></h2>
        <h2 id="html2"></h2>
    </div>


</section>


<section id="analisis" class="analisis">

    <div class="container">
        <div class="row col-sm-12">
            <div class="col-md-5 text-block">

                <h2 class="section-heading ">Analisis, planificación y aprendizaje</h2>
                <p class="lead ">He trabajado con metodologías ágiles y tengo experiencia encabezando el departamento de desarrollo de una
                    start-up,
                    <a class="moaw" href="https://playmuser.com" target="_blank">Playmuser</a>.</p>
                <p>Soy
                    <a class="moaw">autodidacta</a>, pero me encanta rodearme de los mejores y aprender de ellos, no solamente de mi campo
                    si no todo lo relacionado con la transformación digital.</p>

            </div>
            <div class="tablet">
                <img alt="analisis" title="analisis adan gonzalez lopez" src="./assets/analisis.png">
            </div>

        </div>
    </div>

</section>


<section id="tecnologies" class="tecnologies">

    <div class="container">
        <div class="row col-sm-12">
            <div class="col-md-5  text-block">
                <h2 class="section-heading ">Otras tecnologías y maneras de trabajar</h2>
                <p class="lead ">Dentro de mis tecnologías/frameworks/lenguajes favoritos se encuentran
                    <a class="moaw" href="https://firebase.google.com/" target="_blank">Firebase</a>, sin duda un monstruo de la agilidad,
                    <a class="moaw" href="https://www.mongodb.com/es" target="_blank">MongoDB</a> o
                    <a class="moaw" href="https://www.android.com/" target="_blank">Android</a>.</p>
                <p>Me encantan las soluciones que ofrece
                    <a class="moaw" href="https://es.atlassian.com/" target="_blank">Atlassian</a>, Jira, Bitbucket, SourceTree, Bamboo, Trello..</p>
                <p>No
                    <a class="moaw" href="https://git-scm.com/" target="_blank">Git</a>, No work.</p>

            </div>
            <div class="col-md-7  laptop-tecnologies">
                <img alt="tecnologies" title="tecnologies adan gonzalez lopez" src="./assets/laptop.png">
            </div>

        </div>
    </div>

</section>

<section id="seo" class="seo">

    <div class="container">
        <div class="row col-sm-12">
            <div class="col-md-6 text-block mr-auto order-md-2">

                <h2 class="section-heading ">SEO &amp; Web Analytics</h2>
                <p class="lead ">Me gusta el posicionamiento, al menos la parte tocante al desarrollo web. Siempre trato de optimizar mis
                    sitios pensando en los motores de búsqueda: rendimiento, estructura html, microdata, semantics, links,
                    optimización de assets...
                </p>
                <p class="lead ">También configuro
                    <a class="moaw">Analytics</a> en mis sitios web, al fin y al cabo, algo no se puede mejorar si no se puede medir.</p>

            </div>
            <div class="col-md-6 ml-auto order-md-1">
                <div id="seo-tags"></div>
            </div>

        </div>
    </div>

</section>

<!--


<section class="content-section-a">
    <div class="container ">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 id="notodo">No todo en esta vida es trabajar...</h2>
                <span class="typed-cursor" style="animation-iteration-count: infinite;">|</span>
            </div>
        </div>
        <div class="row">
            <div class="arrow animated bounce extra showing">
                <img alt="" height="80" src="assets/arrow-black.svg" width="80">
            </div>
        </div>
    </div>
</section> --> 

