<section id="travels" class="travels move">
    <div class="container footer text-block text-center">
        <p></p>
        <img class="logo-fotos" src="assets/google_fotos.svg">
        <h2 class="title-fotos">Adán Fotos</h2>
        <h3 class="subtitle-fotos">
                No todo en esta vida es trabajo. <br>Mi gran pasión, Viajar!
            </h3>
            <a class="btn-fotos" href="/gallery">IR A ADÁN FOTOS</a>
        <img class="collage" src="assets/collage_fotos.svg">
    </div>
</section>
