<section id="travels" class="travels move">
    <div class="container text-block text-center">
        <h2 class="section-heading ">Mi gran pasión! Viajar!</h2>
        <p>No todo en esta vida es trabajo.
            <br> Salir de la rutina, conocer nuevas culturas, abrir la mente, disfrutar, sentir, vivir!
            <br> Todo esto te lo da el coger la mochila y viajar por cualquier sitio, sin excusas.</p>
        <hr class="light white">
        <p>"No hay hombre más completo que aquel que ha viajado mucho, que ha cambiado veinte veces de forma de pensar y de
            vivir."
        </p>
        <p class="author">Alphonse de Lamartine</p>
        <hr class="light white">
    </div>
    <div class="container-buttons text-center">
        <a href="/gallery/">
            <input class="button travels" type="submit" value="Ver galería de mis viajes">
        </a>
    </div>
</section>

<!-- <div class="hide-section">


    <section id="pasion" class="content-section-b pasion">
        <div class="container">
            <h2 class="section-heading ">Mi gran pasión! Viajar!</h2>
            <p>No todo en esta vida es trabajo.
                <br> Salir de la rutina, conocer nuevas culturas, abrir la mente, disfrutar, sentir, vivir!
                <br> Todo esto te lo da el coger la mochila y viajar por cualquier sitio, sin excusas.</p>
            <hr class="light white">
            <p>"No hay hombre más completo que aquel que ha viajado mucho, que ha cambiado veinte veces de forma de pensar y
                de vivir."
            </p>
            <p class="author">Alphonse de Lamartine</p>
            <hr class="light white">
        </div>
    </section>
    <section id="gallery">
        <div class="gallery">
            <div class="item h2 v4">
                <img alt="Paris" title="Francia,Paris, Adan" src="./assets/paris.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Francia
                        </div>
                        <div class="project-name">
                            Paris
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h4 v3">
                <img alt="Merzouga" title="Sahara,Merzouga, Adan" src="./assets/merzouga.png">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Sahara
                        </div>
                        <div class="project-name">
                            Merzouga
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h4 v2">
                <img alt="Phi Phi islands" title="Thailandia, Phi Phi islands, Adan" src="./assets/thailandia.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Thailandia
                        </div>
                        <div class="project-name">
                            Phi Phi islands
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h3 v2">
                <img alt="Camden market" title="Londres, Camden market, Adan" src="./assets/camden-market.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Londres
                        </div>
                        <div class="project-name">
                            Camden market
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h3 v2">
                <img alt="Veliko Tarnovo" title="Bulgaria, Veliko Tarnovo, Adan" src="./assets/veliko-tarnovo.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Bulgaria
                        </div>
                        <div class="project-name">
                            Veliko Tarnovo
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h3 v2">
                <img alt="Chichen Itza" title="Mexico, Chichen Itza, Adan" src="./assets/mexico.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Mexico
                        </div>
                        <div class="project-name">
                            Chichen Itza
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h4 v2">
                <img alt="Doha" title="Qatar,Doha, Adan" src="./assets/qatar.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Qatar
                        </div>
                        <div class="project-name">
                            Doha
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h1 v3">
                <img alt="Praga" title="Republica Checa,Praga, Adan" src="./assets/praga3.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Republica Checa
                        </div>
                        <div class="project-name">
                            Praga
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h2 v4">
                <img alt="Praga" title="Republica Checa,Praga, Adan" src="./assets/praga2.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Republica Checa
                        </div>
                        <div class="project-name">
                            Praga
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h3 v2">
                <img alt="Berlin" title="Alemania,Berlin, Adan" src="./assets/berlin.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Alemania
                        </div>
                        <div class="project-name">
                            Berlin
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h4 v2">
                <img alt="Poiana Brasov" title="Rumania, Poiana Brasov, Adan" src="./assets/bucarest.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Rumania
                        </div>
                        <div class="project-name">
                            Poiana Brasov
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h2 v3">
                <img alt="Berlin" title="Alemania,Berlin, Adan" src="./assets/berlin-checkpoint.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Alemania
                        </div>
                        <div class="project-name">
                            Berlin
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h4 v3">
                <img alt="Castillo Peles" title="Rumania, Castillo Peles, Adan" src="./assets/bucarest3.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Rumania
                        </div>
                        <div class="project-name">
                            Castillo Peles
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h2 v2">
                <img alt="Ayutthaya" title="Thailandia,Ayutthaya, Adan" src="./assets/thailandia2.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Thailandia
                        </div>
                        <div class="project-name">
                            Ayutthaya
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h2 v2">
                <img alt="Brujas" title="Belgica,Brujas, Adan" src="./assets/brujas.png">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Belgica
                        </div>
                        <div class="project-name">
                            Brujas
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h2 v2">
                <img alt="Merzouga" title="Marruecos,Merzouga, Adan" src="./assets/merzouga.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Marruecos
                        </div>
                        <div class="project-name">
                            Merzouga
                        </div>
                    </div>
                </div>
            </div>

            <div class="item h1 v2">
                <img alt="Berlin" title="Alemania,Berlin, Adan" src="./assets/berlin-tv-tower.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div alt="TV Tower" title="TV Tower, Adan" class="project-category text-faded">
                            Alemania
                        </div>
                        <div class="project-name">
                            Berlin
                        </div>
                        <div class="project-name">
                            TV Tower
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h2 v2">
                <img alt="Ayutthaya" title="Thailandia,Ayutthaya, Adan" src="./assets/big-buddha.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Thailandia
                        </div>
                        <div class="project-name">
                            Ayutthaya
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h1 v1">
                <img alt="Rabat" title="Marruecos,Rabat, Adan" src="./assets/rabat.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Marruecos
                        </div>
                        <div class="project-name">
                            Rabat
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h1 v2">
                <img alt="Londres" title="Reino Unido,Londres, Adan" src="./assets/london.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Reino Unido
                        </div>
                        <div class="project-name">
                            Londres
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h2 v2">
                <img alt="Ayutthaya" title="Thailandia,Ayutthaya, Adan" src="./assets/ayutthaya.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Thailandia
                        </div>
                        <div class="project-name">
                            Ayutthaya
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h4 v3">
                <img alt="Bucharest" title="Rumania,Bucharest, Adan" src="./assets/bucarest4.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Rumania
                        </div>
                        <div class="project-name">
                            Bucharest
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h1 v2">
                <img alt="Praga" title="Republica Checa,Praga, Adan" src="./assets/praga.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Republica Checa
                        </div>
                        <div class="project-name">
                            Praga
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h2 v3">
                <img alt="Berlin" title="Alemania,Berlin, Adan" src="./assets/berlin-senales.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Alemania
                        </div>
                        <div class="project-name">
                            Berlin
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h1 v1">
                <img alt="Castillo Drácula" title="Rumania, Castillo Drácula, Adan" src="./assets/bucarest2.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Rumania
                        </div>
                        <div class="project-name">
                            Castillo Drácula
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h2 v3">
                <img alt="Doha" title="Qatar,Doha, Adan" src="./assets/doha.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Qatar
                        </div>
                        <div class="project-name">
                            Doha
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h1 v3">
                <img alt="Marrakech" title="Marruecos,Marrakech, Adan" src="./assets/marrakech.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Marruecos
                        </div>
                        <div class="project-name">
                            Marrakech
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h3 v1">
                <img alt="Playa paraiso" title="Mexico, Playa paraiso, Adan" src="./assets/playa-paraiso.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Mexico
                        </div>
                        <div class="project-name">
                            Playa paraiso
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h2 v2">
                <img alt="Amsterdam" title="Paises Bajos,Amsterdam, Adan" src="./assets/amsterdam.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Paises Bajos
                        </div>
                        <div class="project-name">
                            Amsterdam
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h1 v1">
                <img alt="Amsterdam" title="Paises Bajos,Amsterdam, Adan" src="./assets/amsterdam2.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Paises Bajos
                        </div>
                        <div class="project-name">
                            Amsterdam
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h1 v1">
                <img alt="Brujas" title="Belgica,Brujas, Adan" src="./assets/brujas.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Belgica
                        </div>
                        <div class="project-name">
                            Brujas
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h2 v3">
                <img alt="Veliko Tarnovo" title="Bulgaria, Veliko Tarnovo, Adan" src="./assets/veliko-tarnovo2.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Bulgaria
                        </div>
                        <div class="project-name">
                            Veliko Tarnovo
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h1 v1">
                <img alt="Monumento holocausto" title="Alemania, Monumento holocausto, Adan" src="./assets/holocaust.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Alemania
                        </div>
                        <div class="project-name">
                            Monumento holocausto judio
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h2 v1">
                <img alt="Marrakech" title="Marruecos,Marrakech, Adan" src="./assets/marrakech2.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Marruecos
                        </div>
                        <div class="project-name">
                            Marrakech
                        </div>
                    </div>
                </div>
            </div>

            <div class="item h1 v1">
                <img alt="Merzouga" title="Sahara,Merzouga, Adan" src="./assets/camello.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Sahara
                        </div>
                        <div class="project-name">
                            Merzouga
                        </div>
                    </div>
                </div>
            </div>

            <div class="item h3 v2">
                <img alt="Bruselas" title="Belgica,Bruselas, Adan" src="./assets/bruselas.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Belgica
                        </div>
                        <div class="project-name">
                            Bruselas
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h1 v2">
                <img alt="Merzouga" title="Sahara,Merzouga, Adan" src="./assets/merzouga2.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Sahara
                        </div>
                        <div class="project-name">
                            Merzouga
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h1 v2">
                <img alt="Ouzarete" title="Marruecos,Ouzarete, Adan" src="./assets/ouzarete.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Marruecos
                        </div>
                        <div class="project-name">
                            Ouzarete
                        </div>
                    </div>
                </div>
            </div>

            <div class="item h1 v1">
                <img alt="Muro berlin" title="Alemania, Muro berlin, Adan" src="./assets/berlin-wall.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Alemania
                        </div>
                        <div class="project-name">
                            Muro berlin
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h1 v1">
                <img alt="Railay Beach" title="Thailandia, Railay Beach, Adan" src="./assets/railay-beach.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Thailandia
                        </div>
                        <div class="project-name">
                            Railay Beach
                        </div>
                    </div>
                </div>
            </div>
            <div class="item h2 v1">
                <img alt="Merzouga" title="Sahara,Merzouga, Adan" src="./assets/sahara.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Sahara
                        </div>
                        <div class="project-name">
                            Merzouga
                        </div>
                    </div>
                </div>
            </div>

            <div class="item h1 v1">
                <img alt="Saillagouse" title="Francia,Saillagouse, Adan" src="./assets/saillagouse.jpg">
                <div class="item__overlay">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Francia
                        </div>
                        <div class="project-name">
                            Saillagouse
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>
    <section class="content-section-b pasion" style="margin-bottom : 50px;">
        <div class="container">
            <h2 class="section-heading ">Algunos de mis viajes.</h2>
            <p>Estos son algunos de los viajes que más he disfrutado de una pequeña lista que no parará de crecer...</p>
        </div>
    </section>

</div> -->