body, html {
  font-family: Arial;
  margin: 0;
  font-weight: 100; }

#wptime-plugin-preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: center no-repeat #fff;
  display: table; }

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
  display: table-cell;
  vertical-align: middle; }

.spinner > div {
  width: 58px;
  height: 2px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  background: #06ceb1; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.relative {
  position: relative; }

input {
  font-size: 16px;
  height: 46px;
  width: 484px;
  max-width: 100%;
  border: none;
  box-shadow: 0 4px 2px -2px rgba(1, 1, 1, 0.15);
  padding-left: 15px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.05); }
  input:hover {
    box-shadow: 0 4px 6px -2px rgba(1, 1, 1, 0.15); }
  input.button {
    width: 150px;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    box-shadow: none; }
    input.button:hover {
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      background-color: #f8f8f8;
      border: 1px solid #c6c6c6;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      color: #222; }
    input.button.contact {
      width: 100%;
      background: #4285f4;
      color: white; }
      input.button.contact:hover {
        background: #357ae8; }

a {
  font-size: 13px !important;
  color: rgba(0, 0, 0, 0.75) !important;
  margin: auto !important; }
  a:hover {
    color: rgba(0, 0, 0, 0.75) !important;
    text-decoration: underline !important;
    cursor: pointer !important; }

.modal-open .modal {
  z-index: 9999 !important; }

.modal-dialog {
  height: 93% !important; }

.modal-content {
  height: 95% !important; }

textarea {
  width: 100%;
  background: white !important; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px !important;
    margin: 30px auto; } }

@media (min-width: 776px) {
  .modal-dialog {
    max-width: 700px !important;
    margin: 30px auto; } }

@media (min-width: 1024px) {
  .modal-dialog {
    max-width: 900px !important;
    margin: 30px auto; } }

@media (min-width: 1200px) {
  .modal-dialog {
    max-width: 1024px !important;
    margin: 30px auto; } }

@media (min-width: 1600px) {
  .modal-dialog {
    max-width: 1424px !important;
    margin: 30px auto; } }

.popover.bs-tether-element-attached-top::before,
.popover.popover-bottom::before {
  display: none !important; }

.popover.bs-tether-element-attached-top::after,
.popover.popover-bottom::after {
  display: none !important; }

#ngb-popover-1 .popover-title {
  display: none !important; }

#ngb-popover-1 p {
  font-size: 12px;
  padding-left: 20px; }

#ngb-popover-2 .popover-title {
  display: none !important; }

#ngb-popover-2 p {
  font-size: 12px; }

.moaw {
  color: #06ceb1 !important;
  font-weight: bold; }

#notodo {
  display: inline-block; }

.typed-cursor {
  font-size: 35px !important; }
  @media (max-width: 767px) {
    .typed-cursor {
      display: none; } }

.pb-150 {
  padding-bottom: 150px; }

.pt-10 {
  padding-top: 10px !important; }
