<div id="popover-profile" class="popover popover-profile">
    <div class="arrow"></div>
    <div class="content">
        <div>
            <img class="avatar-popup" height="65" placement="down" src="./assets/adan-gonzalez-lopez.png" triggers="manual">
            <div class="popup-info">
                <p>Adán González López</p>
                <div>
                    <a href="mail:adan.gonzalez.lopez@gmail.com">adan.gonzalez.lopez@gmail.com</a>
                </div>
                <div>
                    <a href="mail:adangonzalez@moaw.co">adangonzalez@moaw.co</a>
                </div>
            </div>
        </div>
        <div>
            <input onclick="contactar()" class="button contact" type="submit" value="Contactar">
        </div>
    </div>

</div>