<div id="popover-jobs" class="popover popover-jobs">
    <h3 class="popover-title">¿Con quien he trabajado?</h3>
    <div class="arrow"></div>
    <div class="content">
        <a class="col-xs-4 partner" href="https://playmuser.com" target="_blank">
            <div class="container-app">
                <p class="text-center">Playmuser.com</p>
                <img src="assets/muser.svg">
                <br>
            </div>
        </a>
        <a class="col-xs-4 partner" href="https://moaw.co" target="_blank">
            <div class="container-app">
                <p class="text-center">Moaw</p>
                <img src="assets/moaw.png">
                <br>
            </div>
        </a>
        <a class="col-xs-4 partner" href="https://www.inditex.com/es/home" target="_blank">
            <div class="container-app">
                <p class="text-center">Inditex</p>
                <img class="pt-10" src="assets/inditex.jpg">
            </div>
        </a>
        <a class="col-xs-4 partner" href="https://mueblescaloto.com/" target="_blank">
            <div class="container-app">
                <p class="text-center">MueblesCaloto</p>
                <img src="assets/muebles_caloto_logo_negro_corto.svg">
                <br>
            </div>
        </a>
        <a class="col-xs-4 partner" href="https://www.imatia.com/es/" target="_blank">
            <div class="container-app">
                <p class="text-center">Imatia</p>
                <img src="assets/imatia.png">
                <br>
            </div>
        </a>
        <a class="col-xs-4 partner" href="http://www.sadagrupo.com/" target="_blank">
            <div class="container-app">
                <p class="text-center">Grupo Sada</p>
                <img src="assets/sada.jpg">
                <br>
            </div>
        </a>
        <a class="col-xs-4 partner" href="http://www.cysnetsoftware.com/" target="_blank">
            <div class="container-app">
                <p class="text-center">Cysnet
                    <br>Software</p>
                <img src="assets/cysnet.png">
                <br>
            </div>
        </a>
        <a class="col-xs-4 partner" href="https://www.mueva.eu/" target="_blank">
            <div class="container-app">
                <p class="text-center">Muevael volante</p>
                <img src="assets/mueva.jpg">
                <br>
            </div>
        </a>
        <a class="col-xs-4 partner" href="http://www.easis.es/" target="_blank">
            <div class="container-app">
                <p class="text-center">Easis</p>
                <img src="assets/easis.jpg">
                <br>
            </div>
        </a>
        <a class="col-xs-4 partner" href="http://wekco.net/" target="_blank">
            <div class="container-app">
                <p class="text-center">Wekco</p>
                <img src="assets/wekco.jpg">
                <br>
            </div>
        </a>
        <a class="col-xs-4 partner" href="http://www.konditecmobility.com/" target="_blank">
            <div class="container-app">
                <p class="text-center">Konditec</p>
                <img src="assets/konditec.jpg">
                <br>
            </div>
        </a>
        <a class="col-xs-4 partner"  target="_blank">
            <div class="container-app">
                <p class="text-center">Grupo Laki</p>
                <img src="assets/grupo-laki.png">
                <br>
            </div>
        </a>
    </div>
</div>
