<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-NCQB68T');</script>
<!-- End Google Tag Manager -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107393168-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-107393168-1');
</script>


<script type="application/ld+json"> {
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://adangonzalezlopez.com",
        "logo": "https://adangonzalezlopez.com/assets/img/adan-gonzalez-lopez.png"
    }
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Adán González López",
  "url": "https://adangonzalezlopez.com",
  "sameAs": [
    "https://www.facebook.com/adan.gonzalezlopez",
    "https://www.instagram.com/adan.gonzalezlopez/",
    "www.linkedin.com/in/adangnzlz",
    "https://twitter.com/adangonzalez7?lang=es",
    "https://freelance.infojobs.net/freelance/Adan-Gonzalez-Lopez/xj0hjzc39v1equl4vb1/12"
  ]
}
</script>