<script type="application/ld+json"> {
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://www.adangnzlz.github.io",
        "logo": "https://adangnzlz.github.io/assets/img/adan-gonzalez-lopez.png"
    }
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Adán González López",
  "url": "https://www.adangnzlz.github.io",
  "sameAs": [
    "https://www.facebook.com/adan.gonzalezlopez",
    "https://www.instagram.com/adan.gonzalezlopez/",
    "www.linkedin.com/in/adangnzlz",
    "https://twitter.com/adangonzalez7?lang=es",
    "https://freelance.infojobs.net/freelance/Adan-Gonzalez-Lopez/xj0hjzc39v1equl4vb1/12"
  ]
}
</script>