<meta charset="utf-8">
<meta name="google-site-verification" content="HxDTo8qhvA2n_L6iwSQkXDKupO_lbAC1g6W1DdyhqCo" />
<meta name="description" content="Front-End developer especializado en Angular, Ionic, HTML5, CSS3">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name='viewport' content='width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=1,user-scalable=no' />
<title>Adán González López | Front-end Developer</title>
<meta name="author" content="https://plus.google.com/+Ad%C3%A1nGonz%C3%A1lezL%C3%B3pez">
<meta name="title" content="Adán González López | Front-end Developer">
<meta name="Keywords" content="Adan Gonzalez, freelance, developer, programador, frontend, angular, html, css, javascript"
/>
<meta prefix="og: http://ogp.me/ns#" property="og:title" content="Adán González | Front-end Developer" />
<meta prefix="og: http://ogp.me/ns#" property="og:description" content="Web developer especializado en Angular, Ionic, HTML, CSS"
/>
<meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="Adán González | Front-end Developer" />
<meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
<meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://adangnzlz.github.io/">
<meta prefix="og: http://ogp.me/ns#" property="og:image" content="./assets/adan-gonzalez-lopez.png" />
<meta prefix="og: http://ogp.me/ns#" property="og:image:type" content="image/png" />
<meta prefix="og: http://ogp.me/ns#" property="og:image:width" content="600" />
<meta prefix="og: http://ogp.me/ns#" property="og:image:height" content="600" />
<meta prefix="og: http://ogp.me/ns#" property="og:locale" content="es_ES" />
<link rel="icon" type="image/x-icon" href="./assets/adan-gonzalez-lopez.png">